/* src/App.css */
/* .App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh; 
  padding: 20px;
}

.main-container {
  display: flex;
  gap: 50px; 
}

.slider {
  flex: 1; 
}

.cards {
  flex: 1; 
} */


